<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lrcf.yhb.dao.mapper.StatisticsOrderDao" >
  <resultMap id="BaseResultMap" type="com.lrcf.yhb.pojo.StatisticsOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="start" property="start" jdbcType="INTEGER" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, start, sequence
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from statisticsorder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select *
    from statisticsorder
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from statisticsorder
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteFromTable" parameterType="java.lang.Integer" >
    delete from statisticsorder
  </delete>

  <insert id="insert" parameterType="com.lrcf.yhb.pojo.StatisticsOrder" >
    insert into statisticsorder (id, start, sequence
      )
    values (#{id,jdbcType=INTEGER}, #{start,jdbcType=INTEGER}, #{sequence,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lrcf.yhb.pojo.StatisticsOrder" >
    insert into statisticsorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="start != null" >
        start,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="start != null" >
        #{start,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lrcf.yhb.pojo.StatisticsOrder" >
    update statisticsorder
    <set >
      <if test="start != null" >
        start = #{start,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lrcf.yhb.pojo.StatisticsOrder" >
    update statisticsorder
    set start = #{start,jdbcType=INTEGER},
      sequence = #{sequence,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>